* {
   box-sizing: border-box;
   /* padding: 0; */
}
body {
   background: url(bg.jpg) center no-repeat;
   background-attachment: fixed;
   font-size: 22px;
   line-height: 34px;
}
.header {
   background-color: #C44ADC;
   color: #fff;
   opacity: .9;
   font-family: Arial, Helvetica, sans-serif;
   padding: 30px 20px;
}
.header__subtitle {
   color: aqua;
   margin-top: 0 !important;
}
h1 {
   margin-bottom: 0 !important;
}
h1, h2 {
   font-family: Arial, Helvetica, sans-serif;
}
h2 {
   color: #fff;
}
.first, .second {
   padding: 30px;
}
.second {
   padding-top: 0;
}
p {
   color: aqua;
}
li {
   color: red;
}